<!DOCTYPE html>
<html>
@{
    var scroll = "";
    var scrollable = "";
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    if (actionName == "Register" | actionName == "Login" | controllerName == "News" | controllerName == "Product")
    {
        scroll = "navbar-custom-scrolled";
        scrollable = "";
    }
    else
    {
        scroll = "";
        scrollable = "fixed-top";
    }
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Exaxxi</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/demo.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
        <link rel="stylesheet" href="~/css/rzslider.min.css">
        @*<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>*@
    </environment>

</head>

<body ng-app="exaxxiApp">
    <div id="mySidenav" class="sidenav">
        <!-- Start sidenav -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div id="sidenav-logsign"><a asp-controller="Login" asp-action="Register" translate>{{ 'SIGNUP' }}</a>/<a asp-controller="Login" asp-action="Login" id="sidenav-logsign-login-text" translate>{{ 'SIGNIN' }}</a></div>
        <a asp-controller="Home" asp-action="Index">Exaxxi</a>
        <div id="sidenav-sub-section" ng-controller="browseCtrl">
            <!-- Start sidenav-sub... -->
            <div ng-repeat="x in brandcates | filter: {'id_department' : @ViewBag.Id_Depart}">
                <a href="#" class="sidenav-sub-link" data-toggle="collapse" data-target="#id{{x.id}}">{{x.name}}</a>
                <div id="id{{x.id}}" class="collapse sidenav-product">
                    <!-- Start sidenav-product -->
                    <a href="/Product/Index?idCate_f={{y.id}}" ng-repeat="y in cates | filter:{'id_brand' : x.id} ">{{y.name}}</a>
                </div> <!-- End sidenav-product -->
            </div>
        </div> <!-- End sidenav-sub-... -->
        <a asp-controller="News" translate>{{ 'NEWS' }}</a>
        <a href="#">FaQ</a>
    </div> <!-- End sidenav -->

    <nav class="navbar navbar-expand navbar-dark navbar-custom fixed-top @scroll" id="@scrollable">
        <!-- Start nav -->
        <!-- Brand -->
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index" id="brand">
                Exxaxxi
            </a>
            <button class="navbar-toggler order-first d-flex d-sm-none" type="button" onclick="openNav()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item d-none d-md-flex">
                    <a class="nav-link test-mega" href="#" data-toggle="dropdown" translate>{{ 'BROWSE' }}</a>
                    <ul class="dropdown-menu mega-dropdown-menu avoid" ng-controller="browseCtrl">
                        <!-- Start Mega Menu -->
                        <div class="container">
                            <li class="col-12">
                                <div class="row ">
                                    <div class="col-12 flex-nowrap browse-radio-wrapper custom-scrollbar" style="{{takedivCount<6 ? 'justify-content: center;' : ''}}" id="browse-radio-wrapper">

                                        <div class="browse-radio" ng-repeat="x in deps">
                                            <input class="d-none " type="radio" name="department" id="{{x.id}}" ng-model="$parent.selectedObj" ng-value="x" ng-init="$index==0?(selectedObj.id=x.id):''" />

                                            <label for="{{x.id}}" class="{{x.id==selectedObj.id?'label-checked':''}}">
                                                {{lang=="en"?x.en_name:x.vi_name}}
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="col-12">
                                <div class="row browse-brand-wrapper custom-scrollbar">
                                    <div class="card-columns">
                                        <div class="card brand-name-wrapper" ng-repeat="x in brandcates | filter: {'id_department' : selectedObj.id}">
                                            <div class="card-body">
                                                <div class="brand-name">{{x.name}}</div>
                                                <a href="/Product/Index?idCate_f={{y.id}}" ng-repeat="y in cates | filter:{'id_brand' : x.id} ">{{y.name}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </ul><!-- End Mega Menu -->
                </li>
                <li class="nav-item d-none d-md-flex">
                    <a class="nav-link" asp-controller="News" asp-action="Index" translate>{{ 'NEWS' }}</a>
                </li>
                <li class="nav-item d-none d-md-flex"  ng-controller="testlang">
                    <select class="nav-link" ng-model="selectedLang" ng-init="selectedLang=lang" ng-change="changeLang()" style="background-color:#272727; color:antiquewhite; border:none">
                        <option value="vi"  >
                            VI
                        </option>
                        <option value="en"  >
                            EN
                        </option>
                    </select>
                </li>

                <li class="dropdown mega-dropdown nav-item">
                    <!-- Start Search Mega Dropdown -->
                    <a href="#" class="nav-link " data-toggle="dropdown"><i class="fas fa-search"></i></a>
                    <ul class="dropdown-menu mega-dropdown-menu avoid">
                        <!-- Start Mega Menu -->
                        <div class="container" ng-controller="searchCtrl">
                            <li class="col-xs-12">
                                <div class="row">
                                    <div class="col-12">
                                        <input type="text" ng-change="search()" name="key" ng-model="key" class="form-control" placeholder="Search" id="search_input">
                                    </div>
                                </div>

                            </li>
                            <li class="col-xs-12 custom-scrollbar" id="search-result-wrapper" ng-if="key">
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col-12 search-result-text">
                                        Search Result:
                                    </div>
                                </div>
                                <div class="row search-result-product-wrapper" ng-repeat="x in names  | filter:key">
                                    <div class="col-3 col-md-2" align="center">
                                        <img src="~/images/{{x.item.img}}" class="search-img" />
                                    </div>
                                    <div class="col-9 col-md-10 search-name-wrapper">

                                        <div><span class="search-brand-name">{{x.brand_name}}</span>/<span class="search-category-name">{{x.cate_name}}</span></div>

                                        <a href="#" class="search-product-name">
                                            {{x.item.name}}
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 search-empty-result-text" ng-show="(names | filter:key).length == 0">Nothing here</div>
                                </div>
                                <div class="dropdown-divider"></div>
                            </li>
                        </div>
                    </ul><!-- End Mega Menu -->
                </li> <!-- End Search Mega Dropdown -->
                @using Microsoft.AspNetCore.Http
                @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
                @if (String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetInt32("idUser").ToString()))
                {

                    <li class="nav-item d-none d-md-flex btn-signup-wrapper">
                        <a class="nav-link btn btn-signup" asp-controller="Login" asp-action="Register" translate>{{ 'SIGNUP' }}</a>
                    </li>
                    <li class="nav-item d-none d-md-flex">
                        <a class="nav-link link-login" asp-controller="Login" asp-action="Index" translate><i class="fas fa-sign-in-alt fa-fw"></i> {{ 'SIGNIN' }}</a>
                    </li>
                }
                else
                {
                    <li class="nav-item dropdown d-none d-md-flex">
                        <a class="nav-link" data-toggle="dropdown">
                            <i class="fas fa-user"></i>
                        </a>
                        <ul class="dropdown-menu user-dropdown">
                            <li><a asp-controller="User" asp-action="Index"><b>@HttpContextAccessor.HttpContext.Session.GetString("nameUser")</b></a></li>
                            <li><a href="/User">Profile</a></li>
                            <li><a href="/User/Buying">Buying</a></li>
                            <li><a href="/User/Selling">Selling</a></li>
                            <li><a href="/User/Following">Following</a></li>
                            <li><a href="/User/Setting">Setting</a></li>
                            <li>
                                <a asp-controller="Login" asp-action="Logout">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item d-none d-md-flex btn-signup-wrapper">
                        <a class="nav-link btn btn-signup" asp-action="Contact" asp-controller="User" @*data-toggle="modal" data-target="#requestModal"*@ translate>{{ 'REQUEST' }}</a>

                    </li>

                }

            </ul>

        </div>
    </nav> <!-- End nav -->
    @*<div class="modal fade" id="requestModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Request Form</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                            <div class="form-group">
                                <input id="re_pro_cate" type="text" class="form-control checkout-input" style="font-size:20px" placeholder="Product's category">
                            </div>
                            <div class="form-group">
                                <input id="re_pro_name" type="text" class="form-control checkout-input" style="font-size:20px" placeholder="Product's name">
                            </div>
                            <div class="form-group">
                                <textarea id="re_desc_pro" type="text" class="form-control checkout-input" style="font-size:20px" placeholder="Describe your product" rows="3"></textarea>
                            </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button id="re_btn" type="button" class="btn btn-danger">Send</button>
                    </div>
                </div>
            </div>
        </div>*@
    <div style="background:white!important;">
        @RenderBody()
    </div>

    <footer>
        <div class="container-fluid" id="footer-wrapper" ng-controller="footerCtrl">
            <div class="row">
                <div class="col-md-4 col-lg-2" ng-repeat="x in brands">
                    <a href="/Product/Index?idBrand={{x.id}}"> <p class="footer-content-header">{{x.name}}</p></a>
                    <a href="/Product/Index?idCate_f={{y.id}}" ng-repeat="y in cates | filter: {'id_brand' : x.id}">{{y.name}}<br></a>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="copyright">
            <div class="col-12" align="right">
                ©Exxaxxi. All rights reserved
            </div>
        </div>
        
        
    </footer>

    <environment include="Development">
        <script src="~/js/jquery-3.4.1.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/demo.js" asp-append-version="true"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-cookies.js"></script>
        <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate/2.18.1/angular-translate.js"></script>
        <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-interpolation-messageformat/2.18.1/angular-translate-interpolation-messageformat.js"></script>
        <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-storage-cookie/2.18.1/angular-translate-storage-cookie.js"></script>
        <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-storage-local/2.18.1/angular-translate-storage-local.js"></script>
        <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-loader-url/2.18.1/angular-translate-loader-url.js"></script>
        <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-loader-static-files/2.18.1/angular-translate-loader-static-files.js"></script>
        <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate-handler-log/2.18.1/angular-translate-handler-log.js"></script>
        <script src="~/js/dirPagination.js"></script>
        <script src="~/js/rzslider.min.js"></script>
        <script src="~/js/lang.js"></script>
    </environment>
    <script>
    
    var exaxxiApp = angular.module('exaxxiApp', ['ngMaterial', 'ngMessages', 'rzSlider', 'angularUtils.directives.dirPagination', 'ngCookies', 'pascalprecht.translate']);
        
        exaxxiApp.config(['$translateProvider', function ($translateProvider) {
          // add translation tables
          $translateProvider.translations('en', translationsEN);
          $translateProvider.translations('vi', translationsVI);
          $translateProvider.preferredLanguage('en');
          // remember language
          $translateProvider.useLocalStorage();
        }]);
    
        exaxxiApp.controller('testlang', function ($translate, $scope) {
          $scope.changeLang = function () {
              $translate.use($scope.selectedLang);
              location.reload();
            };
        });
         exaxxiApp.run(function($rootScope,$translate) {
          $rootScope.lang = $translate.use();
        });
        exaxxiApp.controller('searchCtrl', function ($scope, $http) {
            $scope.search = function () {
                $http.get("/api/PostsAPI/Search")
                    .then(function (response) { $scope.names = response.data; });
            };
        });
        exaxxiApp.controller("browseCtrl", function ($scope, $http, $translate) {
            var div = document.querySelector('#browse-radio-wrapper');
            var divCount = div.querySelectorAll('div').length;
            $scope.selectedObj = {};
            $scope.takedivCount = divCount;
            $http.get("/api/DepartmentsAPI")
                .then(function (response) {
                    $scope.deps = response.data;
                });
            $http.get("/api/BrandsAPI")
                .then(function (response) { $scope.brandcates = response.data; });
            $http.get("/api/CategoriesAPI")
                .then(function (response) { $scope.cates = response.data; });
        });
        exaxxiApp.controller("footerCtrl", function ($scope, $http) {
            $http.get("/api/CategoriesAPI")
                .then(function (response) { $scope.cates = response.data; });
            $http.get("/api/BrandsAPI")
                .then(function (response) { $scope.brands = response.data; });
        });
        $('.avoid').click(function (e) {
            e.stopPropagation();
        });
    </script>

    @RenderSection("Scripts", required: false)
    @RenderSection("Scripts2", required: false)


</body>
</html>
