<!DOCTYPE html>
<html>
@{
    var scroll = "";
    var scrollable = "";
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    if (actionName == "Register" | actionName == "Login" | controllerName == "News" |  controllerName == "Product")
    {
        scroll = "navbar-custom-scrolled";
        scrollable = "";
    }
    else
    {
        scroll = "";
        scrollable = "fixed-top";
    }
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Exaxxi</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/demo.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
        <link rel="stylesheet" href="~/css/rzslider.min.css">
        @*<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>*@
    </environment>

</head>

<body ng-app="exaxxiApp" >
    <div id="mySidenav" class="sidenav">
        <!-- Start sidenav -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div id="sidenav-logsign"><a asp-controller="Login" asp-action="Register">SIGN UP</a>/<a asp-controller="Login" asp-action="Login" id="sidenav-logsign-login-text">login</a></div>
        <a asp-controller="Home" asp-action="Index">Exaxxi</a>
        <div id="sidenav-sub-section">
            <!-- Start sidenav-sub... -->
            <a href="#" class="sidenav-sub-link" data-toggle="collapse" data-target="#cate1">Cate's Name</a>
            <div id="cate1" class="collapse sidenav-product">
                <!-- Start sidenav-product -->
                <a href="#">Product's name</a>
                <a href="#">Product's name</a>
                <a href="#">Product's name</a>
                <a href="#">Product's name</a>
            </div> <!-- End sidenav-product -->
            <a href="#" class="sidenav-sub-link">Cate's Name</a>
            <a href="#" class="sidenav-sub-link">Cate's Name</a>
            <a href="#" class="sidenav-sub-link">Cate's Name</a>
        </div> <!-- End sidenav-sub-... -->
        <a href="#">Browse</a>
        <a href="#">News</a>
        <a href="#">App</a>
        <a href="#">FaQ</a>
    </div> <!-- End sidenav -->

    <nav class="navbar navbar-expand navbar-dark navbar-custom fixed-top @scroll" id="@scrollable">
        <!-- Start nav -->
        <!-- Brand -->
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index" id="brand">
                Exxaxxi
            </a>
            <button class="navbar-toggler order-first d-flex d-sm-none" type="button" onclick="openNav()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item d-none d-md-flex">
                    <a class="nav-link" href="#" data-toggle="dropdown">Browse</a>
                    <ul class="dropdown-menu mega-dropdown-menu avoid" ng-controller="browseCtrl">
                        <!-- Start Mega Menu -->
                        <div class="container">
                            <li class="col-12">
                                <div class="row ">
                                    <div class="col-12 flex-nowrap browse-radio-wrapper custom-scrollbar" style="{{takedivCount<6 ? 'justify-content: center;' : ''}}" id="browse-radio-wrapper">

                                        <div class="browse-radio" ng-repeat="x in deps">
                                            <input class="d-none " type="radio" name="department" id="{{x.id}}" ng-model="$parent.selectedObj" ng-value="x" ng-init="$index==0?(selectedObj.id=x.id):''" />

                                            <label for="{{x.id}}" class="{{x.id==selectedObj.id?'label-checked':''}}">
                                                {{x.vi_name}}
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li class="col-12">
                                <div class="row browse-brand-wrapper custom-scrollbar">
                                    <div class="card-columns">
                                        <div class="card brand-name-wrapper " ng-repeat="x in brandcates | filter: {'id_department' : selectedObj.id}">
                                            <div class="card-body">
                                                <div class="brand-name">{{x.name}}</div>
                                                <a href="#" ng-repeat="y in cates | filter:{'id_brand' : x.id} ">{{y.name}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </ul><!-- End Mega Menu -->
                </li>
                <li class="nav-item d-none d-md-flex">
                    <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item d-none d-md-flex">
                    <a class="nav-link" href="#">App</a>
                </li>
                <li class="nav-item d-none d-md-flex">
                    <a class="nav-link" href="#">FaQ</a>
                </li>
                <li class="dropdown mega-dropdown nav-item">
                    <!-- Start Search Mega Dropdown -->
                    <a href="#" class="nav-link " data-toggle="dropdown"><i class="fas fa-search"></i></a>
                    <ul class="dropdown-menu mega-dropdown-menu avoid">
                        <!-- Start Mega Menu -->
                        <div class="container" ng-controller="searchCtrl">
                            <li class="col-xs-12">
                                <div class="row">
                                    <div class="col-12">
                                        <input type="text" ng-change="search()" name="key" ng-model="key" class="form-control" placeholder="Search" id="search_input">
                                    </div>
                                </div>

                            </li>
                            <li class="col-xs-12 custom-scrollbar" id="search-result-wrapper" ng-if="key">
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col-12 search-result-text">
                                        Search Result:
                                    </div>
                                </div>
                                <div class="row search-result-product-wrapper" ng-repeat="x in names  | filter:key">
                                    <div class="col-3 col-md-2" align="center">
                                        <img src="~/images/{{x.item.img}}" class="search-img" />
                                    </div>
                                    <div class="col-9 col-md-10 search-name-wrapper">

                                        <div><span class="search-brand-name">{{x.brand_name}}</span>/<span class="search-category-name">{{x.cate_name}}</span></div>

                                        <a href="#" class="search-product-name">
                                            {{x.item.name}}
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 search-empty-result-text" ng-show="(names | filter:key).length == 0">Nothing here</div>
                                </div>
                                <div class="dropdown-divider"></div>
                            </li>
                        </div>
                    </ul><!-- End Mega Menu -->
                </li> <!-- End Search Mega Dropdown -->
                @using Microsoft.AspNetCore.Http
                @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
                @if (String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetInt32("idUser").ToString()))
                {

                    <li class="nav-item d-none d-md-flex btn-signup-wrapper">
                        <a class="nav-link btn btn-signup" asp-controller="Login" asp-action="Register">Sign Up</a>
                    </li>
                    <li class="nav-item d-none d-md-flex">
                        <a class="nav-link link-login" asp-controller="Login" asp-action="Login"><i class="fas fa-sign-in-alt fa-fw"></i> Login</a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="nav-link" asp-controller="Login" asp-action="Profile">
                            Xin chào
                            <b>@HttpContextAccessor.HttpContext.Session.GetString("nameUser")</b>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" asp-controller="Login" asp-action="Logout">
                            <span class="glyphicon glyphicon-log-in"></span> Logout
                        </a>
                    </li>
                }
            </ul>

        </div>
    </nav> <!-- End nav -->

    <div style="background:white!important;" class="pb-5 pt-2">

        @RenderBody()
    </div>

    <footer >
        <div class="container-fluid" id="footer-wrapper" ng-controller="footerCtrl">
            <div class="row">
                <div class="col-md-4 col-lg-2" ng-repeat="x in brands">
                    <p class="footer-content-header">{{x.name}}</p>
                    <a href="#" ng-repeat="y in cates | filter: {'id_brand' : x.id}">{{y.name}}<br></a>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="copyright">
            <div class="col-12" align="right">
                ©Exxaxxi. All rights reserved
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/js/jquery-3.4.1.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/demo.js" asp-append-version="true"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="~/js/dirPagination.js"></script>
        <script src="~/js/rzslider.min.js"></script>
    </environment>
    <script>
        var exaxxiApp = angular.module('exaxxiApp', ['ngMaterial', 'ngMessages', 'rzSlider','angularUtils.directives.dirPagination']);
    exaxxiApp.controller('searchCtrl', function ($scope, $http) {
        $scope.search = function () {
                $http.get("/api/PostsAPI/Search")
                    .then(function (response) { $scope.names = response.data; });
            };
        });
        exaxxiApp.controller("browseCtrl", function ($scope, $http) {
            var div = document.querySelector('#browse-radio-wrapper');
            var divCount = div.querySelectorAll('div').length;
            $scope.selectedObj = {};
            $scope.takedivCount = divCount;
            $http.get("/api/DepartmentsAPI")
                .then(function (response) { $scope.deps = response.data; });

            $http.get("/api/BrandsAPI")
                .then(function (response) { $scope.brandcates = response.data; });
            $http.get("/api/CategoriesAPI")
                .then(function (response) { $scope.cates = response.data; });
        });
        exaxxiApp.controller("footerCtrl", function ($scope, $http) {
            $http.get("/api/CategoriesAPI")
                .then(function (response) { $scope.cates = response.data; });
            $http.get("/api/BrandsAPI")
                .then(function (response) { $scope.brands = response.data; });
        });
        $('.avoid').click(function (e) {
            e.stopPropagation();
        });
    </script>

    @RenderSection("Scripts", required: false)
    @RenderSection("Scripts2", required: false)


</body>
</html>
