@model Exaxxi.Models.Sizes

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sizes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lowest_ask)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lowest_ask)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.highest_bid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.highest_bid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.last_sale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.last_sale)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.size.VN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.item)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.item.name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
