@model IEnumerable<Exaxxi.Models.Sizes>

@{
    ViewData["Title"] = "Post";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Danh Sách Size</h4>
                <p class="card-category">Quản lý danh sách size</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    Giá mua thấp nhất
                                </th>
                                <th>
                                    Giá bán cao nhất
                                </th>
                                <th>
                                    Last Sale
                                </th>
                                <th>
                                    Size (VN)
                                </th>
                                <th>
                                    Sản phẩm
                                </th>
                                <th>Chi tiết</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Convert.ToDouble(item.lowest_ask).ToString("#,###") @if (Convert.ToDouble(item.lowest_ask) > 0) { @Html.Raw("VND");} else { @Html.Raw("<span style='color:red'>Chưa có thông tin</span>"); }
                                    </td>
                                    <td>
                                        @Convert.ToDouble(item.highest_bid).ToString("#,###") @if (Convert.ToDouble(item.highest_bid) > 0) { @Html.Raw("VND");} else { @Html.Raw("<span style='color:red'>Chưa có thông tin</span>"); }                           
                                    </td>
                                    <td>
                                        @Convert.ToDouble(item.last_sale).ToString("#,###") @if (Convert.ToDouble(item.last_sale) > 0) { @Html.Raw("VND");} else { @Html.Raw("<span style='color:red'>Chưa có thông tin</span>"); }
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.size.VN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.item.name)
                                    </td>
                                    <td class="td-actions" style="text-align:center">
                                        <a asp-action="Details" asp-route-id="@item.id">
                                            <button type="button" rel="tooltip" title="Detail" class="btn btn-primary btn-link btn-sm">
                                                <i class="material-icons">
                                                    info
                                                </i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>