@model IEnumerable<Exaxxi.Models.Sizes>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.lowest_ask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.highest_bid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.last_sale)
            </th>
            <th>
               Size Việt Nam
            </th>
            <th>
                @Html.DisplayNameFor(model => model.item)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.lowest_ask)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.highest_bid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.last_sale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.size.VN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.item.name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a style="cursor: pointer;" id="delete" class="delete" data-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(function () {
            $(".delete").click(function () {
                var id = $(this).attr("data-id");
                if (confirm("Bạn có chắc muốn xóa")) {
                    $.ajax({
                        url: "/api/SizesAPI/" + id,
                        type: "DELETE",
                        success: function () {
                            alert("Thành công");
                            window.location = "/Admin/Sizes/Index";
                        },
                        error: function (res) {
                            alert("Lỗi : " + res);
                        }
                    });
                }
            });
        });
    </script>
}