@model Exaxxi.Models.ds_Size

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ds_Size</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.US)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.US)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UK)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UK)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inch)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Centimet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Centimet)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
