@model IEnumerable<Exaxxi.Models.ds_Size>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.US)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Centimet)
            </th>
            <th><a asp-action="Create">Create New</a></th>
        </tr>
    </thead>
    <tbody ng-controller="deleteDSSize">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.US)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inch)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Centimet)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a style="cursor: pointer;" id="delete" class="delete" ng-click="Delete(@item.id)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        app.controller('deleteDSSize', function ($scope, $http) {
            $scope.Delete = function (id) {
                var url = '/api/ds_SizeChange/' + id;
                //  $http.defaults.headers.common.Authorization = 'Bearer ' + sessionStorage.getItem('token');
                var config = {
                    headers: {
                        'Context-Type': 'application/json',
                        'Authorization': 'Bearer ' + sessionStorage.getItem('token')
                    }
                }
                var isConfirm = confirm("bạn có chắc chắn muốn xóa")
                if (isConfirm) {
                    $http.delete(url, config).then(function (response) {
                        window.location.reload();
                    });

                } else {
                    return false;
                }
            }
        });
    </script>
}