@model IEnumerable<Exaxxi.Models.ds_Size>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.US)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Centimet)
            </th>
            <th><a asp-action="Create">Create New</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.US)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inch)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Centimet)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a style="cursor: pointer;" id="delete" class="delete" data-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(function () {
            $(".delete").click(function () {
                var id = $(this).attr("data-id");
                if (confirm("Bạn có chắc muốn xóa")) {
                    $.ajax({
                        url: "/api/ds_SizeAPI/" + id,
                        type: "DELETE",
                        success: function () {
                            alert("Thành công");
                            window.location = "/Admin/ds_Size/Index";
                        },
                        error: function (res) {
                            alert("Lỗi : " + res);
                        }
                    });
                }
            });
        });
    </script>
}