@model IEnumerable<Exaxxi.Models.Admins>

@{
    ViewData["Title"] = "Index";
}

<h2>Index @ViewBag.test</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_create)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.name
                </td>
                <td>
                    @item.email
                </td>
                <td>
                    @item.level
                </td>
                <td>
                    @item.date_create
                </td>
                <td>
                    @item.active
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a style="cursor: pointer;" id="delete" class="delete" data-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(function () {
            $(".delete").click(function () {
                var id = $(this).attr("data-id");
                if (confirm("ban có chắc muốn xóa")) {
                    $.ajax({
                        url: "/api/AdminsAPI/" + id,
                        type: "DELETE",
                        success: function () {
                            alert("Thành công");
                            window.location = "/Admin/Admins/Index";
                        },
                        error: function (res) {
                            alert("Lỗi : " + res);
                        }
                    });

                }

            });
        });
    </script>


}