@model IEnumerable<Exaxxi.Models.Departments>

@{
    ViewData["Title"] = "Departments";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Danh sách chủng loại</h4>
                <p class="card-category">Quản lý danh sách chủng loại sản phẩm</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    Tên (Vie)
                                </th>
                                <th>
                                    Tên (Eng)
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                                <th>
                                   Thứ tự
                                </th>
                                <th class="text-right"><a asp-action="Create">Tạo Mới</a></th>
                            </tr>
                        </thead>
                        <tbody ng-controller="deleteDe">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.vi_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.en_name)
                                    </td>
                                    <td>
                                        @if (item.active == true)
                                        {
                                            @Html.Raw("Đang hoạt động");
                                        }
                                        else
                                        {
                                            @Html.Raw("Đã khóa");
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.order)
                                    </td>
                                    <td class="td-actions text-right">
                                        <a asp-action="Edit" asp-route-id="@item.id">
                                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </a>
                                        <a asp-action="Details" asp-route-id="@item.id">
                                            <button type="button" rel="tooltip" title="Detail" class="btn btn-primary btn-link btn-sm">
                                                <i class="material-icons">
                                                    info
                                                </i>
                                            </button>
                                        </a>
                                        <button ng-click="Delete(@item.id)" type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                            <i class="material-icons">close</i>
                                        </button>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        app.controller('deleteDe', function ($scope, $http) {
            $scope.Delete = function (id) {
                var url = '/api/DepartmentsChange/' + id;
                //  $http.defaults.headers.common.Authorization = 'Bearer ' + sessionStorage.getItem('token');
                var config = {
                    headers: {
                        'Context-Type': 'application/json',
                        'Authorization': 'Bearer ' + sessionStorage.getItem('token')
                    }
                }
                var isConfirm = confirm("bạn có chắc chắn muốn xóa")
                if (isConfirm) {
                    $http.delete(url, config).then(function (response) {
                        window.location.reload();
                    });

                } else {
                    return false;
                }
            }
        });
    </script>
}
