@model Exaxxi.ViewModels.ItemViewAdmin

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Items</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.items.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.items.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.items.vi_info)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.items.vi_info)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.items.en_info)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.items.en_info)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.items.img)
        </dt>
        <dd>
            <img src="~/images/item/@Html.DisplayFor(model => model.items.img)" />
            
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.items.volatility)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.items.volatility)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.items.trade_min)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.items.trade_min)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.items.trade_max)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.items.trade_max)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.items.active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.items.active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.items.lowest_ask)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.items.lowest_ask)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.items.highest_bid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.items.highest_bid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.items.sold)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.items.sold)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nameAdmin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nameAdmin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nameCate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nameCate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.items.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
