@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Exaxxi</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/demo.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </environment>

</head>
@{
    var display = "";
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    if(actionName == "FileBrowse")
    {
        display = "d-none";
    }
    }
<body ng-app="exaxxiApp">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark @display">
        <!-- Start nav -->
        <!-- Brand -->
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index" id="brand">Exxaxxi</a>
            <button class="navbar-toggler order-first d-flex d-sm-none" type="button" onclick="openNav()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Links -->
            <ul class="navbar-nav">

                @using Microsoft.AspNetCore.Http
                @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
                @if (String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetInt32("idAdmin").ToString()))
                {
                    <li>
                        <a class="nav-link" asp-controller="Login" asp-action="Login">
                            <span class="glyphicon glyphicon-log-in"></span> Login
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item d-none d-md-flex">
                        <a class="nav-link" asp-controller="Admins" asp-area="Admin" asp-action="Index">Admin</a>
                    </li>
                    <li class="nav-item d-none d-md-flex">
                        <a class="nav-link" asp-controller="Departments" asp-area="Admin" asp-action="Index">Department</a>
                    </li>
                    <li class="nav-item d-none d-md-flex">
                        <a class="nav-link" asp-controller="Categories" asp-area="Admin" asp-action="Index">Categorie</a>
                    </li>
                    <li class="nav-item d-none d-md-flex">
                        <a class="nav-link" asp-controller="Brands" asp-area="Admin" asp-action="Index">Brand</a>
                    </li>
                    <li class="nav-item d-none d-md-flex">
                        <a class="nav-link" asp-controller="News" asp-area="Admin" asp-action="Index">News</a>
                    </li>
                    <li class="nav-item d-none d-md-flex">
                        <a class="nav-link" asp-controller="Sizes" asp-area="Admin" asp-action="Index">Sizes</a>
                    </li>
                    <li class="nav-item d-none d-md-flex">
                        <a class="nav-link" asp-controller="Items" asp-area="Admin" asp-action="Index">Item</a>
                    </li>
                    <li class="nav-item d-none d-md-flex">
                        <a class="nav-link" asp-controller="Posts" asp-area="Admin" asp-action="Index">Post</a>
                    </li>
                    <li class="nav-item d-none d-md-flex">
                        <a class="nav-link" asp-controller="ds_Size" asp-area="Admin" asp-action="Index">Danh sách size</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-controller="Login" asp-action="Profile" asp-route-id="@HttpContextAccessor.HttpContext.Session.GetInt32("idAdmin")">
                            Xin chào
                            <b>@HttpContextAccessor.HttpContext.Session.GetString("nameAdmin")</b>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" asp-controller="Login" asp-action="Logout">
                            <span class="glyphicon glyphicon-log-in"></span> Logout
                        </a>
                    </li>
                }

                <li class="dropdown mega-dropdown nav-item">
                    <!-- Start Search Mega Dropdown -->
                    <a href="#" class="nav-link " data-toggle="dropdown"><i class="fas fa-search"></i></a>
                    <ul class="dropdown-menu mega-dropdown-menu" id="avoid">
                        <!-- Start Mega Menu -->
                        <div class="container">
                            <li class="col-xs-12">
                                <div class="row">
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" placeholder="Search" id="search_input">
                                    </div>
                                    <div class="col-md-2" align="right">
                                        <button class="btn" id="search_button">Go</button>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </ul><!-- End Mega Menu -->
                </li> <!-- End Search Mega Dropdown -->
            </ul>
        </div>
    </nav> <!-- End nav -->


    <div class="container body-content ">
        @RenderBody()
        <hr />
        <footer class="@display">

            <p>&copy; 2019 - Exaxxi</p>
        </footer>
    </div>
    <script src="~/js/jquery-3.4.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script>
        var app = angular.module('exaxxiApp', []);
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
