@model Exaxxi.Models.News

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vi_title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vi_title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.en_title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.en_title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.vi_content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vi_content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.en_content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.en_content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.date_create)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date_create)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.admin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.admin.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.department.id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
