@model IEnumerable<Exaxxi.Models.News>

@{
    ViewData["Title"] = "News";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Danh sách tin tức</h4>
                <p class="card-category">Quản lý danh sách tin tức</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    Tiêu đề (Vie)
                                </th>
                                <th>
                                    Tiêu đề (Eng)
                                </th>
                                <th>
                                    Ngày tạo
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                                <th>
                                    Admin
                                </th>
                                <th>
                                    Thuộc chủng loại
                                </th>
                                <th class="text-right"><a asp-action="Create">Tạo Mới</a></th>
                            </tr>
                        </thead>
                        <tbody ng-controller="deleteNew">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.vi_title.Substring(0,20)...
                                    </td>
                                    <td>
                                        @item.en_title.Substring(0,10)...
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.date_create)
                                    </td>
                                    <td>
                                        @if (item.active == true)
                                        {
                                            @Html.Raw("Đang hoạt động");
                                        }
                                        else
                                        {
                                            @Html.Raw("Đã khóa");
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.admin.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.department.vi_name)
                                    </td>
                                    <td class="td-actions text-right">
                                        <a asp-action="Edit" asp-route-id="@item.id">
                                            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </a>
                                        <a asp-action="Details" asp-route-id="@item.id">
                                            <button type="button" rel="tooltip" title="Detail" class="btn btn-primary btn-link btn-sm">
                                                <i class="material-icons">
                                                    info
                                                </i>
                                            </button>
                                        </a>
                                        <button ng-click="Delete(@item.id)" type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                            <i class="material-icons">close</i>
                                        </button>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
        <script>
            app.controller('deleteNew', function ($scope, $http) {
                $scope.Delete = function (id) {
                    var url = '/api/NewsChange/' + id;
                    //  $http.defaults.headers.common.Authorization = 'Bearer ' + sessionStorage.getItem('token');
                    var config = {
                        headers: {
                            'Context-Type': 'application/json',
                            'Authorization': 'Bearer ' + sessionStorage.getItem('token')
                        }
                    }
                    var isConfirm = confirm("bạn có chắc chắn muốn xóa")
                    if (isConfirm) {
                        $http.delete(url, config).then(function (response) {
                            window.location.reload();
                        });

                    } else {
                        return false;
                    }
                }
            });
        </script>
    }
