@model IEnumerable<Exaxxi.Models.News>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.vi_title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vi_content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_create)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.admin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.vi_title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vi_content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_create)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.admin.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.department.vi_name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a style="cursor: pointer;" id="delete" class="delete" data-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(function () {
            $(".delete").click(function () {
                var id = $(this).attr("data-id");
                if (confirm("Bạn có chắc muốn xóa")) {
                    $.ajax({
                        url: "/api/NewsAPI/" + id,
                        type: "DELETE",
                        success: function () {
                            alert("Thành công");
                            window.location = "/Admin/News/Index";
                        },
                        error: function (res) {
                            alert("Lỗi : " + res);
                        }
                    });
                }
            });
        });
    </script>
}