@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    string actionName = ViewContext.RouteData.Values["action"].ToString();
}

<div class="col-md-3 d-none d-md-block">
    <div class="user-panel">
        <div class="user-panel-header">
            @HttpContextAccessor.HttpContext.Session.GetString("nameUser")
        </div>
        <div class="user-panel-body">
           
            <ul class="list-unstyled">
                <li>
                    <a id="pro" href="/User/Index" class="@if (actionName == "Index") { @Html.Raw("user-panel-active")}"><i class="far fa-user-circle fa-fw mr-3"></i>{{'PROFILE'| translate}}</a>
                </li>
                <li>
                    <a id="buy" href="/User/Buying" class="@if (actionName == "Buying") { @Html.Raw("user-panel-active")}"><i class="fas fa-shopping-cart if-fw mr-3"></i>{{'BUYING'| translate}}</a>
                </li>
                <li>
                    <a id="buy" href="/User/Bidding" class="@if (actionName == "Bidding") { @Html.Raw("user-panel-active")}"><i class="fas fa-shopping-cart if-fw mr-3"></i>{{'Bidding'| translate}}</a>
                </li>
                <li>
                    <a id="sel" href="/User/Selling" class="@if (actionName == "Selling") { @Html.Raw("user-panel-active")}"><i class="fas fa-money-bill-wave fa-fw mr-3"></i>{{'SELLING'| translate}}</a>
                </li>
                <li>
                    <a id="sel" href="/User/Asking" class="@if (actionName == "Asking") { @Html.Raw("user-panel-active")}"><i class="fas fa-money-bill-wave fa-fw mr-3"></i>Asking</a>
                </li>
                <li>
                    <a id="fol" href="/User/Following" class="@if (actionName == "Following") { @Html.Raw("user-panel-active")}"><i class="fas fa-newspaper fa-fw mr-3"></i>{{'FOLLOWING'| translate}}</a>
                </li>
                <li>
                    <a id="set" href="/User/Setting" class="@if (actionName == "Setting") { @Html.Raw("user-panel-active")}"><i class="fas fa-cog fa-fw mr-3"></i>{{'SETTING'| translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
