@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<div class="container-fluid" style="background-color:#f2f2f2; min-height:100vh;padding-top:100px;" ng-controller="Selling">
    <div class="row">
        @Html.Partial("~/Views/User/Menu.cshtml")

        <div class="col-md-9">
            <div class="user-info d-flex justify-content-between">
                <div>
                    <i class="far fa-chart-bar fa-fw"></i>{{ 'SALES' | translate}}<br />
                    <span class="user-number">
                        {{count_selling}}
                    </span>
                </div>
                <div>
                    <i class="fas fa-tag fa-fw"></i>{{ 'SALES' | translate}}(#)<br />
                    <span class="user-number">
                        20
                    </span>
                </div>
            </div>
            <div class="user-info">
                <ul class="nav nav-tabs user-tab">
                    <li class="nav-item">
                        <a class="nav-link  active" data-toggle="tab" href="#current">{{'CURRENT' | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#pending">{{'PENDING' | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#history">{{'HISTORY' | translate}}</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="current" class="container tab-pane active">
                        <table class="table table-hover">
                            <tr>
                                <td>
                                    {{'ITEM' | translate}}
                                </td>
                                <td class="d-none d-sm-block">
                                    {{'ASKPRICE' | translate}}
                                </td>
                                <td>
                                    {{'HIGHESTBID' | translate}}
                                </td>
                                <td>
                                    {{'LOWESTASK' | translate}}
                                </td>
                                <td class="d-none d-sm-block">
                                    {{'EXPIRES' | translate}}
                                </td>
                            </tr>
                            <tr ng-repeat="x in current">
                                <td class="font-weight-bold">
                                    {{x.items.name}}
                                </td>
                                <td class="d-none d-sm-block">
                                    ... VND
                                </td>
                                <td>
                                    {{x.size.highest_bid}} VND
                                </td>
                                <td>
                                    {{x.size.lowest_ask}} VND
                                </td>
                                <td class="d-none d-sm-block">
                                    0
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="pending" class="container tab-pane fade">
                        <table class="table table-hover">
                            <tr>
                                <td>
                                    {{'ITEM' | translate}}
                                </td>
                                <td class="d-none d-sm-block">
                                    {{'ASKPRICE' | translate}}
                                </td>
                                <td>
                                    {{'HIGHESTBID' | translate}}
                                </td>
                                <td>
                                    {{'LOWESTASK' | translate}}
                                </td>
                                <td class="d-none d-sm-block">
                                    {{'EXPIRES' | translate}}
                                </td>
                            </tr>
                            <tr ng-repeat="x in pending">
                                <td class="font-weight-bold">
                                    {{x.items.name}}
                                </td>
                                <td class="d-none d-sm-block">
                                    ... VND
                                </td>
                                <td>
                                    {{x.size.highest_bid}} VND
                                </td>
                                <td>
                                    {{x.size.lowest_ask}} VND
                                </td>
                                <td class="d-none d-sm-block">
                                    0
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="history" class="container tab-pane fade">
                        <table class="table table-hover">
                            <tr>
                                <td>
                                    {{'ITEM' | translate}}
                                </td>
                                <td class="d-none d-sm-block">
                                    {{'ASKPRICE' | translate}}
                                </td>
                                <td>
                                    {{'HIGHESTBID' | translate}}
                                </td>
                                <td>
                                    {{'LOWESTASK' | translate}}
                                </td>
                                <td class="d-none d-sm-block">
                                    {{'EXPIRES' | translate}}
                                </td>
                            </tr>
                            <tr ng-repeat="x in history">
                                <td class="font-weight-bold">
                                    {{x.items.name}}
                                </td>
                                <td class="d-none d-sm-block">
                                    ... VND
                                </td>
                                <td>
                                    {{x.size.highest_bid}} VND
                                </td>
                                <td>
                                    {{x.size.lowest_ask}} VND
                                </td>
                                <td class="d-none d-sm-block">
                                    0
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        //Show Department
        exaxxiApp.controller('Selling', function ($scope, $http) {

            //Take Count Buying Of Account
            $http.get("/api/OrdersAPI/CountOrderSelling_Account/" + @HttpContextAccessor.HttpContext.Session.GetInt32("idUser"))
                .then(function (response) { $scope.count_selling = response.data; });

            //Take Detail Buying Of Account with Kind: 0 => pending, 1 => current, 2 => history
            $http.get("/api/OrdersAPI/TakeDetailSelling_Account/0/" + @HttpContextAccessor.HttpContext.Session.GetInt32("idUser"))
                .then(function (response) { $scope.pending = response.data; });
            $http.get("/api/OrdersAPI/TakeDetailSelling_Account/1/" + @HttpContextAccessor.HttpContext.Session.GetInt32("idUser"))
                .then(function (response) { $scope.current = response.data; });
            $http.get("/api/OrdersAPI/TakeDetailSelling_Account/2/" + @HttpContextAccessor.HttpContext.Session.GetInt32("idUser"))
                .then(function (response) { $scope.history = response.data; });

        });
    </script>
}