@model Exaxxi.Models.Users

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.level_seller)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.level_seller)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.score_buyer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.score_buyer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.date_registion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date_registion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
