@model IEnumerable<Exaxxi.Models.Users>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Danh sách Khách Hàng</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>STT</th>
                                <th>
                                    Tên tài khoản
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Cấp độ bán
                                </th>
                                <th>
                                    Điểm người mua
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                                <th><i class="fas fa-cog" style="color:#808080"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 1;}
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @(i++)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.level_seller)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.score_buyer)
                                </td>
                                <td>
                                    @if(item.active == true)
                                    {
                                        @Html.Raw("Đang hoạt động");
                                    }
                                    else
                                    {
                                        @Html.Raw("Đã khóa");
                                    }
                                </td>
                                <td class="td-actions text-right">
                                    <a asp-action="Edit" asp-route-id="@item.id">
                                        <button type="button" rel="tooltip" title="Edit" class="btn btn-primary btn-link btn-sm">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

