@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewBag.temp</h1>
<div id="title-background">
    <!-- Start title-background -->
    <div id="title-text">"Some quote goes here"</div>
    <div id="title-sub-text">AWESOME SHIRTS - AWESOME YOU</div>
</div> <!-- End title-background -->

<div id="category-panel" ng-controller="departmentCtrl">
    <!-- Start category-panel -->
    <a ng-repeat="x in names" href="/Home/Index?id={{x.id}}" class="{{ x.id == @ViewBag.Id_Depart ? 'category-panel-active' : ''}}">{{x.vi_name}}</a>
</div> <!-- End category-panel -->

<div ng-controller="itemPopularCtrl">
    <div class="container" ng-show="items.length != 0">
        <div class="divider-section">
            <!-- Start divider-section -->
            <div class="see-all">
                <a href="/Product">
                    See All
                </a>
            </div>
            <hr>
            <div class="divider-wrapper">
                <p class="title-divider">Popular Products</p>
            </div>
        </div> <!-- End divider-section -->
    </div>

    <div class="container" style="position:relative" ng-show="items.length != 0">

        <!-- Start pupular products container -->
        <div class="horizon-prev" id="popular-prev">
            <i class="fas fa-angle-left fa-2x"></i>
        </div>
        <div class="horizon-next" id="popular-next">
            <i class="fas fa-angle-right fa-2x"></i>
        </div>
        <div class="row flex-row flex-nowrap scroll-content " id="popular-scroll-content" style="overflow-x: auto">
            <!-- Start row -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 xx-content" ng-repeat="x in items">
                <div class="card card-block">
                    <!-- Start card -->
                    <div class="product-img-wrapper">
                        <img src="../images/{{x.item.img}}" class="product-img">
                    </div>
                    <div class="product-title-wrapper">
                        <!-- Start product-title-wrapper -->
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 product-name">
                                <a href="/Product/Details?id={{x.item.id}}">
                                    {{x.item.name}}
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 " align="right">
                                <div class="product-price">
                                    {{x.item.lowest_ask}}<br>
                                    <span style="color: #dbd9d9">VND</span><br>
                                </div>
                                <span class="product-sub-title">Lowest Ask | sold{{x.item.sold}}</span>
                            </div>
                        </div>
                    </div> <!-- End product-title-wrapper -->
                </div> <!-- End card -->
            </div>

        </div> <!-- End row -->
    </div> <!-- End popular products container -->
</div>
<div ng-controller="itemPopularCtrl">
    <div class="container" ng-show="items.length != 0">
        <div class="divider-section">
            <!-- Start divider-section -->
            <div class="see-all">
                <a href="/Product">
                    See All
                </a>
            </div>
            <hr>
            <div class="divider-wrapper">
                <p class="title-divider">Highest Bid</p>
            </div>
        </div> <!-- End divider-section -->
    </div>

    <div class="container" style="position:relative" ng-show="items.length != 0">

        <!-- Start highest bid container -->
        <div class="horizon-prev" id="highest-prev">
            <i class="fas fa-angle-left fa-2x"></i>
        </div>
        <div class="horizon-next" id="highest-next">
            <i class="fas fa-angle-right fa-2x"></i>
        </div>
        <div class="row flex-row flex-nowrap scroll-content " id="highest-scroll-content" style="overflow-x: auto">
            <!-- Start row -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 xx-content" ng-repeat="x in items">
                <div class="card card-block">
                    <!-- Start card -->
                    <div class="product-img-wrapper">
                        <img src="../images/{{x.item.img}}" class="product-img">
                    </div>
                    <div class="product-title-wrapper">
                        <!-- Start product-title-wrapper -->
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 product-name">
                                <a href="/Product/Details?id={{x.item.id}}">
                                    {{x.item.name}}
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 " align="right">
                                <div class="product-price">
                                    {{x.item.lowest_ask}}<br>
                                    <span style="color: #dbd9d9">VND</span><br>
                                </div>
                                <span class="product-sub-title">Highest Bid | sold{{x.item.sold}}</span>
                            </div>
                        </div>
                    </div> <!-- End product-title-wrapper -->
                </div> <!-- End card -->
            </div>

        </div> <!-- End row -->
    </div> <!-- End highest bid container -->
</div>
<div ng-controller="itemLowestAskCtrl">
    <div class="container" ng-show="items.length != 0">
        <div class="divider-section">
            <!-- Start divider-section -->
            <div class="see-all">
                <a href="#">
                    See All
                </a>
            </div>
            <hr>
            <div class="divider-wrapper">
                <p class="title-divider">Lowest Asks New</p>
            </div>
        </div> <!-- End divider-section -->
    </div>

    <div class="container" style="position:relative" ng-show="items.length != 0">
        <!-- Start best seller container -->
        <div class="horizon-prev" id="lowest-prev">
            <i class="fas fa-angle-left fa-2x"></i>
        </div>
        <div class="horizon-next" id="lowest-next">
            <i class="fas fa-angle-right fa-2x"></i>
        </div>
        <div class="row flex-row flex-nowrap scroll-content" id="lowest-scroll-content" style="overflow-x: auto">
            <!-- Start row -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 xx-content" ng-repeat="x in items">
                <div class="card card-block">
                    <!-- Start card -->
                    <div class="product-img-wrapper">
                        <img src="images/{{x.item.img}}" class="product-img">
                    </div>
                    <div class="product-title-wrapper">
                        <!-- Start product-title-wrapper -->
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6 product-name">
                                <a href="#">
                                    {{x.item.name}}
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 " align="right">
                                <div class="product-price">
                                    {{x.price}}<br>
                                    <span style="color: #dbd9d9">VND</span><br>
                                </div>
                                <span class="product-sub-title">Lowest Ask</span>
                            </div>
                        </div>
                    </div> <!-- End product-title-wrapper -->
                </div> <!-- End card -->
            </div>
        </div> <!-- End row -->
    </div> <!-- End lowest ask container -->
</div>

<div class="container">
    <div class="divider-section">
        <!-- Start divider-section -->
        <div class="see-all">
            <a href="#">
                See All
            </a>
        </div>
        <hr>
        <div class="divider-wrapper">
            <p class="title-divider">Popular Brands</p>
        </div>
    </div> <!-- End divider-section -->
</div>

<div class="container-fluid" ng-controller="brandsbyidCtrl">
    <div class="row" id="brand-background-1">
        <!-- Start brand-background-1 -->

    </div> <!-- End brand-bacground-1 -->
    <div class="row" id="brand-background-2">
        <!-- Start brand-bacground-1 -->
        <div class="col-md-4" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/{{mot.img}}) center;">
            <div class="brand-title-2">
                <a href="/Product?idBrand={{mot.id}}">{{mot.name}}</a>
            </div>
        </div>
        <div class="col-md-8" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/{{hai.img}}) center;">
            <div class="brand-title-2">
                <a href="/Product?idBrand={{hai.id}}">{{hai.name}}</a>
            </div>
        </div>
        <div ng-repeat="x in names | limitTo : 3:2" class="col-md-4" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/{{x.img}}) center;">
            <div class="brand-title-2">
                <a href="/Product?idBrand={{x.id}}">{{x.name}}</a>
            </div>
        </div>
    </div> <!-- End brand-bacground-1 -->
</div>



<div class="container-fluid">
    <!-- Start email container -->
    <div class="row" id="subs-wrapper">
        <!-- Start subs-wrapper -->
        <div class="col-md-8" id="subs-background">
            <form>
                <p id="subs-title">
                    become our member
                </p>
                <p id="subs-sub-title">
                    you won't regret it
                </p>
                <button class="btn btn-subs btn-subs-explore">Explore now</button>
            </form>
        </div>
        <div class="col-md-4" id="subs-email-wrapper">
            <form>
                <input id="subs-input" placeholder="Enter email address"> <br><br>
                <button class="btn btn-subs">Send</button>
            </form>
        </div>
    </div> <!-- End subs-wrapper -->
</div> <!-- End email container -->

<div class="container">
    <div class="divider-section">
        <!-- Start divider-section -->
        <div class="see-all">
            <a href="#">
                See All
            </a>
        </div>
        <hr>
        <div class="divider-wrapper">
            <p class="title-divider">Latest News</p>
        </div>
    </div> <!-- End divider-section -->
</div>

<div class="container-fluid" ng-controller="getnewsCtrl">
    <!-- Start News container -->
    <div class="row" id="news-background-1">
        <!-- Start news-background-1 -->
        <div class="row col-lg-8" style="margin:0px!important; padding:0px!important;">

            <div class="col-sm-6 col-lg-6" style="background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(../images/{{news1.news.img}}) center;">

            </div>
            <div class="col-sm-6 col-lg-6" style="background: #f2f2f2">
                <p class="news-category">
                    {{news1.vi_name_depart}}
                </p><br>
                <a class="news-title" href="/News/Detail?id={{news1.news.id}}">

                    {{news1.news.vi_title}}
                </a><br>
                <p class="news-detail">
                    {{timeDiff(news1.news.date_create)}}<br>
                    {{news1.news.vi_content}}
                </p>
            </div>
        </div>
        <div ng-repeat="x in news | limitTo : 5:1 " class="col-md-12 col-lg-4" style="background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(../images/{{x.news.img}}) center;">
            <p class="news-category">
                {{x.vi_name_depart}}
            </p><br>
            <a class="news-title-2" href="/News/Detail?id={{x.news.id}}">
                {{x.news.vi_title}}
            </a><br>
            <p class="news-detail-2">
                {{timeDiff(x.news.date_create)}}<br>
                {{x.news.vi_content}}
            </p>
        </div>

    </div> <!-- End news-background-1 -->
    <!-- Start news-background-2 -->

</div> <!-- End News container -->

@section Scripts{
    <script>
        exaxxiApp.controller('departmentCtrl', function ($scope, $http) {
            $http.get("/api/DepartmentsAPI")
                .then(function (response) { $scope.names = response.data; });
        });
        exaxxiApp.controller('brandsbyidCtrl', function ($scope, $http) {
            $http.get("/api/BrandsAPI/TakeBrandByIdDepart/" + @ViewBag.Id_Depart + "/5")
                .then(function (response) {
                    $scope.names = response.data;
                    $scope.mot = response.data[0];
                    $scope.hai = response.data[1];
                });
        });
        exaxxiApp.controller('itemPopularCtrl', function ($scope, $http) {
            $http.get("/api/PostsAPI/Popular/"+ @ViewBag.Id_Depart)
                .then(function (response) {
                    $scope.items = response.data;
                });

        });
        exaxxiApp.controller('itemLowestAskCtrl', function ($scope, $http) {
            $http.get("/api/PostsAPI/LowestAskNew/"+ @ViewBag.Id_Depart)
                .then(function (response) {
                    $scope.items = response.data;
                });
        });
        exaxxiApp.controller('getnewsCtrl', function ($scope, $http) {
            $scope.timeDiff = function (time) {
                var now = Date.now();
                var teo = new Date(time).getTime();
                var milisecondsDiff = now - teo;
                var qd = Math.round(milisecondsDiff / (1000 * 60));
                if (qd < 10) {
                    return "Just Now";
                }
                if (qd < 60 && qd > 10) {
                    return qd + " minutes ago";
                }
                if (qd > 60) {
                    var day = new Date(time);
                    return day.toDateString();
                }

            };
            $http.get("/api/NewsAPI/GetNewsByDepart/"+ @ViewBag.Id_Depart)
                .then(function (response) {
                    $scope.news = response.data;
                    $scope.news1 = response.data[0];

                });
        });

    </script>
}