@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="container-fluid" style="background-color:#f2f2f2; min-height:100vh; padding:100px 0px" ng-controller="Item_Attribute">
    <div class="row">
        <div class="col-lg-7" style=" padding:20px 30px">
            <div class="row">
                <div class="col-12 p-2" style="background:white;">
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="images/{{name[0].item.img}}" class="img-fluid" />
                        </div>
                        <div class="col-lg-10" style="border-left:solid thick #ab1113">
                            <div class="checkout-product-name">
                                {{name[0].item.name}}
                            </div>
                            <div class="checkout-product-info">
                                {{'HIGHESTBID'| translate}}: <b>{{name[0].size.highest_bid | currency:"":0:3}} VND</b> |  {{'LOWESTASK'| translate}}: <b>{{name[0].size.lowest_ask | currency:"":0:3}} VND</b><br />
                                {{'SIZE'| translate}} <b>{{name[0].dsSize.vn}}</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12" style="padding:0px!important">
                    <div class="card-deck">
                        <div class="card mb-3" style="background:white;">
                            <div class="card-body">
                                <div class="checkout-card-title text-center">
                                    {{'BID'| translate}}
                                </div>
                                <div class="row">
                                    <div class="col-10">
                                        <input id="enter_bid" ng-model="enter_bid" type="number" class="form-control checkout-input " placeholder="Enter Bid" />
                                    </div>
                                    <div class="col-2 checkout-curency">
                                        Đ
                                    </div>
                                </div>
                                <div class="row">
                                    @*<div class="col-12 checkout-suggestion">
                                        {{'GOODBID'| translate}} {{name[0].size.lowest_ask | currency:"":0:3}} VND
                                    </div>*@
                                </div>
                                <div class="checkout-estimated-wrapper">
                                    <div class="row checkout-estimated">
                                        <div class="col-6">
                                            {{'ESSHIP'| translate}}
                                        </div>
                                        <div class="col-6 text-right">
                                            <input id="shipping_bid" type="text" value="{{shipping_fee}}" style="border:none; text-align:center; font-weight:bold; width:110px; background:#FFF" disabled />VND
                                        </div>
                                    </div>
                                    <div class="row checkout-estimated">
                                        <div class="col-6">
                                            {{'AUFEE'| translate}}
                                        </div>
                                        <div class="col-6 text-right">
                                            {{'FREE'| translate}}
                                        </div>
                                    </div>
                                    <div class="row checkout-estimated">
                                        <div class="col-6">
                                            {{'TOTAL'| translate}}

                                        </div>
                                        <div class="col-6 text-right">
                                            <input id="total_bid" type="text" ng-value="(enter_bid + shipping_fee) > 0 ? (enter_bid + shipping_fee) : 0" style="border:none; text-align:center; font-weight:bold; width:110px; background:#FFF" disabled />VND
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <i class="far fa-clock fa-fw"></i> <label for="sel1">{{'BIDEXP'| translate}}:</label>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <select class="form-control" id="exp_day">
                                                <option value="7">7 {{'DAYS'| translate}}</option>
                                                <option value="14">14 {{'DAYS'| translate}}</option>
                                                <option value="30">30 {{'DAYS'| translate}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <button id="bid" class="btn checkout-btn isbuy col-4" ng-disabled="enter_bid >= name[0].size.lowest_ask">
                                            {{'BID'| translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="background:white;">
                            <div class="card-body">
                                <div class="checkout-card-title text-center">
                                    {{'BUY'| translate}}
                                </div>
                                <div class="row">
                                    <div class="col-10">
                                        <input id="value_buy" ng-model="value_buy" type="number" disabled="disabled" class="form-control checkout-input " placeholder="Enter Bid" ng-value="name[0].size.lowest_ask" style="background:#FFF" />
                                    </div>
                                    <div class="col-2 checkout-curency">
                                        Đ
                                    </div>
                                </div>
                                <div class="row">
                                    @*<div class="col-12 checkout-suggestion">
                                        You are about to purchase this product at the lowest Ask price
                                    </div>*@
                                </div>
                                <div class="checkout-estimated-wrapper">
                                    <div class="row checkout-estimated">
                                        <div class="col-6">
                                            {{'ESSHIP'| translate}}
                                        </div>
                                        <div class="col-6 text-right">
                                            <input id="shipping" type="text" value="{{shipping_fee}}" style="border:none; text-align:center; font-weight:bold; width:110px; background:#FFF" disabled />VND
                                        </div>
                                    </div>
                                    <div class="row checkout-estimated">
                                        <div class="col-6">
                                            {{'AUFEE'| translate}}
                                        </div>
                                        <div class="col-6 text-right">
                                            {{'FREE'| translate}}
                                        </div>
                                    </div>
                                    <div class="row checkout-estimated">
                                        <div class="col-6">
                                            {{'TOTAL'| translate}}
                                        </div>
                                        <div class="col-6 text-right">
                                            <input id="total_buy" type="text" ng-value="(name[0].size.lowest_ask + shipping_fee) > 0 ? (name[0].size.lowest_ask + shipping_fee) : 0" style="border:none; text-align:center; font-weight:bold; width:110px; background:#FFF" disabled />VND
                                        </div>
                                    </div>
                                </div>
                                @*KHANG design*@                                
                                <div class="row checkout-estimated">
                                    <div class="col-4">
                                        {{'VOUCHER'| translate}}:
                                    </div>
                                    <input id="voucher" type="text" class="col-6" style="height:30px" />
                                    <button type="button" ng-click="check_voucher()" id="check_voucher" class="btn checkout-btn isbuy col-2" style="height:30px; font-size:13px">
                                        {{'CHECK'| translate}}
                                    </button>                                                                                                           
                                </div>                                
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <button id="buy" class="btn checkout-btn isbuy col-4">
                                            {{'BUY'| translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-5 order-first order-lg-last" style=" padding:20px 30px">
            <div class="row">
                <div class="col-12" style="background:white;">
                    <div class="row">
                        <div class="col-12 p-3">
                            <div class="checkout-card-title text-center">
                                {{'SHIPDETAIL' | translate}}
                            </div>
                            <form>
                                <div class="form-group">
                                    <input id="account" type="text" class="form-control checkout-input" style="font-size:20px" placeholder="{{'ENACC' | translate}}" value="{{user_info.name}}">
                                </div>
                                <div class="form-group">
                                    <input id="phone" type="text" class="form-control checkout-input" style="font-size:20px" placeholder="{{'ENPHONE' | translate}}" value="{{user_info.phone}}">
                                </div>
                                <div class="form-group">
                                    <textarea id="address" type="text" class="form-control checkout-input" style="font-size:20px" placeholder="{{'ENADD' | translate}}" rows="3">{{user_info.address}}</textarea>
                                </div>
                                <div class="forn-group" style="margin:5px 0 15px 0">
                                    <p style="font-family:coolrg;">{{'PLACE' | translate}}:</p>
                                    <select id="id_city" class="form-control">
                                        <option ng-repeat="x in list_city" value="{{x.id}}" ng-selected="user_info.id_city == x.id">{{x.name}}</option>
                                    </select>
                                </div>
                            </form>
                            <div class="mb-2" style="font-family:coolrg;">
                                {{'PAYMETH' | translate}}:
                            </div>
                            <div class="checkout-payment">
                                <input class="d-none" id="payment1" value="Cash On Deliery (COD)" name="payment" type="radio" />
                                <label for="payment1" class="checkout-payment-wrapper">
                                    {{'COD' | translate}} (COD)<br />
                                    <span class="checkout-payment-desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    </span>
                                </label>
                            </div>
                            <div class="checkout-payment">
                                <input class="d-none" id="payment2" value="Credit / Debit" name="payment" type="radio" />
                                <label for="payment2" class="checkout-payment-wrapper">
                                    Credit / Debit<br />
                                    <span class="checkout-payment-desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        exaxxiApp.controller('Item_Attribute', function ($scope, $http) {
            //Items Attribute
            $http.get("/api/ItemsAPI/Detail/" + @ViewBag.IdItem + "/" + @ViewBag.SizeVN)
                .then(function (response) {
                    $scope.name = response.data;
                    if (parseFloat($scope.name[0].size.lowest_ask) == 0) { $("#buy").attr("disabled", true); }
                });

            //Take Info User
            $http.get("/api/UsersAPI/" + @HttpContextAccessor.HttpContext.Session.GetInt32("idUser"))
                .then(function (response) {
                    $scope.user_info = response.data;
                    if ($scope.user_info.score_buyer > 4) {
                        $scope.shipping_fee = 0;
                    }
                    else {
                        $http.get("/api/CitysAPI/TakeShippingFee/" + $scope.user_info.id_city)
                            .then(function (response) {
                                $scope.shipping_fee = response.data;
                            });
                    }
                    
                });

            //Take List Areas
            $http.get("/api/CitysAPI")
                .then(function (response) { $scope.list_city = response.data });
            //Take Shipping fee
            $("#id_city").on('change', function () {
                var id_city = $("#id_city").val();
                $http.get("/api/CitysAPI/TakeShippingFee/" + id_city)
                    .then(function (response) {
                        if ($scope.user_info.score_buyer > 4) {
                            $scope.shipping_fee = 0;
                        }
                        else {
                            $scope.shipping_fee = response.data;

                        }
                        
                    });
            });
            var id_voucher = null;
            var discount = null;
            //Buy
            $("#buy").on('click', function () {
                var account = $("#account").val();
                var phone = $("#phone").val();
                var address = $("#address").val();
                var id_city = $("#id_city").val();
                var shipping = $("#shipping").val();
                var total_buy = $("#total_buy").val();

                var payment = $("input[name=payment]:checked").val();
                if (typeof payment === "undefined") {
                    alert("Vui lòng chọn phương thức thanh toán");
                    return false;
                }

                var info = {
                    "account": account,
                    "phone": phone,
                    "address": address,
                    "id_city": id_city,
                    "payment": payment,
                    "city": id_city,
                    "shipping": shipping,
                    "total": total_buy,
                    "id_voucher": id_voucher,
                    "discount": discount
                };

                $http.post("/api/ItemsAPI/BuyBid", JSON.stringify(info)).
                    then(function (data) {

                        $http.post("/Product/Set_SessionCheckout", JSON.stringify(data.data)).
                            then(function () {
                                // 0:=>buy
                                window.location = "/Product/Last_Checkout?id=" +@ViewBag.IdItem + "&act=0&size=" + @ViewBag.SizeVN;
                            });

                    })
                    .catch(function onError(response) {
                        alert(response.data);
                    });
            });
        $scope.enter_bid = parseFloat($("#enter_bid").val());
        $("#enter_bid").keyup(function () {
            //alert($("#value_buy").val());
            if (parseFloat($("#enter_bid").val()) >= parseFloat($("#value_buy").val()) && parseFloat($("#value_buy").val()) > 0) {
                $("#enter_bid").blur();
                $("#enter_bid").val($("#value_buy").val());
                $("#total_bid").val(parseFloat($scope.shipping_fee) + parseFloat($("#enter_bid").val()));
            }
        });
           //Bid
        $("#bid").on('click', function () {
                var enter_bid = $("#enter_bid").val();
                var exp_day = $("#exp_day").val();
                var account = $("#account").val();
                var phone = $("#phone").val();
                var address = $("#address").val();
                var id_city = $("#id_city").val();
                var shipping_bid = $("#shipping_bid").val();
                var total_bid = $("#total_bid").val();

                if (enter_bid == "") {
                    alert("Vui lòng nhập giá tiền");
                    return false;
            }
            if (parseFloat(enter_bid) >= parseFloat($("#value_buy").val())) {
                        alert("Giá tiền bạn nhập vượt quá giá tiền của sản phẩm!");
                        return false;
                    }

                payment = $("input[name=payment]:checked").val();
                if (typeof payment === "undefined") {
                    alert("Vui lòng chọn phương thức thanh toán");
                    return false;
                }

                var info = {
                    "enter_bid": enter_bid,
                    "exp_day": exp_day,
                    "account": account,
                    "phone": phone,
                    "address": address,
                    "id_city": id_city,
                    "payment": payment,
                    "city": id_city,
                    "shipping": shipping_bid,
                    "total": total_bid,
                };

                $http.post("/api/ItemsAPI/BuyBid", JSON.stringify(info)).
                    then(function (data) {
                        $http.post("/Product/Set_SessionCheckout", JSON.stringify(data.data)).
                            then(function () {
                                // 1:=>bid
                                window.location = "/Product/Last_Checkout?id=" +@ViewBag.IdItem + "&act=1" + "&size=" + @ViewBag.SizeVN;
                            });
                    })
                    .catch(function onError(response) {
                        alert(response.data);
                    });
            });
            $scope.check_voucher = function () {
                var code = $("#voucher").val();
               var dis = $("#value_buy").val();
                $http.get("/api/VouchersAPI/Check/" + code + "/" + dis).then(function (rs) {
                    $scope.voucher = rs.data;
                    
                    
                    alert("Thêm Mã Thành Công!");
                   
                    $("#voucher").prop('disabled', true);
                    $("#check_voucher").prop('disabled', true);
                    var lasttotal = $("#total_buy").val() - $scope.voucher.discount;
                    if (lasttotal > 0) {
                        $("#total_buy").val(lasttotal);
                    }
                    else {
                        $("#total_buy").val("0");
                    }
                    
                    id_voucher = $scope.voucher.id_voucher;
                    discount = $scope.voucher.discount;
                },
                    //khong co ma
                    function () {
                        alert("Mã giảm giá không hợp lệ!");
                    });
            }
        });
    </script>
}