<div id="product-list-background">
    <!--start product-list-background-->
    <div class="container">
        <div class="row">
            <h1 id="product-list-cate">Shirt</h1>
        </div>
    </div>
</div> <!--end product-list-background-->

<div class="container" ng-controller="ShowCate">
    <div class="row">
        <div class="col-lg-3">
            <div>
                <div class="filter-depart-wrapper" ng-controller="ShowDepartment" ng-show="@ViewBag.idCate_f==''">
                    <!--start filter-depart-wrapper-->
                    <a ng-repeat="x in name" href="/Product/Index?id={{x.id}}" class="{{ x.id == @ViewBag.Id_Depart ? 'filter-depart-active' : ''}}">{{x.vi_name}}</a>
                </div> <!--end filter-depart-wrapper-->
            </div>

            <div class="filter-brand-wrapper" ng-controller="ShowBrand" ng-show="@ViewBag.idCate_f==''">
                <!--start filter-brand-wrapper-->
                <div class="filter-name-header" translate>{{ 'BRANDNAME' }}</div>

                <a class="filter-brand-item {{ x.id == @ViewBag.Id_Brand ? 'filter-depart-active' : ''}}" href="/Product/Index?id=@ViewBag.Id_Depart&idBrand={{x.id}}" ng-repeat="x in name">{{x.name}}</a>

            </div> <!--end filter-brand-wrapper-->
            <div class="filter-sort-wrapper">
                <!--start filter-size-wrapper-->
                <div class="filter-sort-header" translate>{{ 'SORTBY' }}</div>
                <label class="radio-container">
                    <span translate>{{'DEFAULT'}}</span>
                    <input type="radio" name="radio" ng-model="sort" value="">
                    <span class="radio-checkmark"></span>
                </label>
                <label class="radio-container">
                    <span translate>{{'LOWESTASK'}}</span>
                    <input type="radio" name="radio" ng-model="sort" value="lowest_ask">
                    <span class="radio-checkmark"></span>
                    <div class="filter-sort-desc" translate>{{'LOWESTASKDE'}}</div>
                </label>
                <label class="radio-container">
                    <span translate>{{'HIGHESTBID'}}</span>
                    <input type="radio" name="radio" ng-model="sort" value="highest_bid">
                    <span class="radio-checkmark"></span>
                    <div class="filter-sort-desc" translate>{{'HIGHESTBIDDE'}}</div>
                </label>
                @*<label class="radio-container">
                    Volatility
                    <input type="radio" name="radio" ng-model="sort" value="volatility">
                    <span class="radio-checkmark"></span>
                    <div class="filter-sort-desc">A measure of how much price fluctuates. It is calculated as standard deviation divided by average price. A $200 product with 40% volatility results in an average price range of $120 to $280.</div>
                </label>*@
            </div><!--end filter-size-wrapper-->
            <div class="filter-category-wrapper" ng-show="@ViewBag.idCate_f==''">
                <!--start filter-category-wrapper-->
                <div class="filter-name-header" translate>{{'CATENAME'}}</div>
                <div class="category-list-wrapper custom-scrollbar">
                    <!--start category-list-wrapper-->
                    <label class="checkbox-container" ng-repeat="x in name">
                        {{x.name}}
                        <input type="checkbox" ng-model="cateModel[x.id]" ng-change="save()">
                        <span class="checkmark"></span>
                    </label>
                </div> <!--end category-list-wrapper-->
            </div> <!--end filter-category-wrapper-->
            <div class="filter-size-wrapper" ng-controller="ShowSize">
                <!--start filter-size-wrapper-->
                <div class="filter-name-header" translate>{{'SIZE'}}</div>
                <label class="checkbox-container" ng-repeat="x in name">
                    {{x.centimet}} cm
                    <input type="checkbox" ng-model="sizeModel[x.id]" ng-change="save()">
                    <span class="checkmark"></span>
                </label>
            </div><!--end filter-size-wrapper-->
            <div class="filter-price-wrapper">
                <!--start filter-price-wrapper-->
                <div>
                    <div class="filter-name-header" translate>{{'PRICERANGE'}}</div>
                    <rzslider class="custom-slider" rz-slider-model="slider.minValue"
                              rz-slider-high="slider.maxValue"
                              rz-slider-options="slider.options"></rzslider>
                </div>
                @*<p>
                <label for="amount" class="filter-name-header">Price range</label>
                <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold; width:100%;">
            </p>

            <div id="slider-range"></div>*@

            </div><!--end filter-price-wrapper-->
        </div>
        
        <div class="col-lg-9">
            @if (ViewBag.idCate_f != null)
            {
                <h2>@ViewBag.nameCate_f</h2>
                <hr />
                <a asp-action="Index" class="btn btn-outline-dark" style=" position:relative">@ViewBag.nameCate_f <span style="font-size:12px; position:absolute; top:-2px; right:3px"><i class="fas fa-times-circle"></i></span></a>
            }
            <div class="row" style="overflow-x: auto;">
                <!-- Start row -->
                <div class="col-6 col-sm-6 col-md-4 col-lg-4" style="margin-top:20px;" dir-paginate="x in item | filter:byRange('lowest_ask', slider.minValue , slider.maxValue) | itemsPerPage: 9 | orderBy:sort">
                    <div class="card card-block">
                        <!-- Start card -->
                        <div class="product-img-wrapper">
                            <img src="~/images/{{x.img}}" class="product-img">
                        </div>
                        <div class="product-title-wrapper">
                            <!-- Start product-title-wrapper -->
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 product-name">
                                    <a href="/Product/Details?id={{x.id}}">
                                        {{x.name}}
                                    </a>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 " align="right">
                                    <div class="product-price">
                                        <p ng-show="sort!='highest_bid'">{{x.lowest_ask| currency:"":0:3}} VND</p>
                                        <p ng-hide="sort!='highest_bid'">{{x.highest_bid| currency:"":0:3}} VND</p>
                                        <span class="product-sub-title"></span>
                                    </div>
                                </div>
                            </div> <!-- End product-title-wrapper -->
                        </div> <!-- End card -->
                    </div>
                </div> <!-- End col -->
            </div> <!-- End row -->
            <div class="pagination-wrapper row">
                <dir-pagination-controls boundary-links="true" template-url="../dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </div>
</div>


@section Scripts{
    <script>
        //Show Department
        exaxxiApp.controller('ShowDepartment', function ($scope, $http) {
            $http.get("/api/DepartmentsAPI")
                .then(function (response) { $scope.name = response.data; });
        });

        //Show Brand
        exaxxiApp.controller('ShowBrand', function ($scope, $http) {

            $http.get("/api/BrandsAPI/TakeBrandByIdDepart/" + @ViewBag.Id_Depart + "/0")
                .then(function (response) { $scope.name = response.data; });
        });

        //Show Category
        exaxxiApp.controller('ShowCate', function ($scope, $http) {                   
            
            $http.get("/api/CategoriesAPI/TakeCateByIdBrand/" + @ViewBag.Id_Brand + "/0")
            .then(function (response) {
                $scope.name = response.data;                    
            });
       
            //Show Product by Category
            $scope.cateModel = {};
            $scope.sizeModel = {};
            
            if (angular.isDefined(@ViewBag.idCate_f)) {
                var checkCate = [];
                checkCate.push(@ViewBag.idCate_f);

                var checkSize = [];
                for (var j in $scope.sizeModel) {
                    if ($scope.sizeModel.hasOwnProperty(j) && $scope.sizeModel[j]) {
                        checkSize.push(j);
                    }
                }

                var Array = {
                    cate: checkCate,
                    size: checkSize,
                    id_brand: @ViewBag.Id_Brand,
                }

                $http.post("/api/ItemsAPI/TakeIdCategory_Checkbox", JSON.stringify(Array)).
                    then(function (data) {
                        $scope.item = data.data;
                    });
            }
            else {
                $http.get("/api/ItemsAPI/TakeItemByIdBrand/" + @ViewBag.Id_Brand + "/0").
                then(function (data) {
                    $scope.item = data.data;
                });
            }

            $scope.save = function () {
                var checkCate = [];
                if (angular.isDefined(@ViewBag.idCate_f)) {
                    checkCate.push(@ViewBag.idCate_f);
                }
                else {
                    for (var k in $scope.cateModel) {
                        if ($scope.cateModel.hasOwnProperty(k) && $scope.cateModel[k]) {
                            checkCate.push(k);
                        }
                    }
                }                

                var checkSize = [];
                for (var j in $scope.sizeModel) {
                    if ($scope.sizeModel.hasOwnProperty(j) && $scope.sizeModel[j]) {
                        checkSize.push(j);
                    }
                }

                var Array = {
                    cate: checkCate,
                    size: checkSize,
                    id_brand: @ViewBag.Id_Brand,
                }

                $http.post("/api/ItemsAPI/TakeIdCategory_Checkbox", JSON.stringify(Array)).
                    then(function (data) {
                        $scope.item = data.data;
                    });
            }
       
            $scope.slider = {
                minValue: @ViewBag.LA_Min_Min,
                maxValue: @ViewBag.LA_Min_Max,
                options: {
                    floor: @ViewBag.LA_Min_Min,
                    ceil: @ViewBag.LA_Min_Max,
                    step: 10,
                    translate: function(value) {
                            return formatNumber(value, '.', ',') + " VND"
                        },
                }
            };
            $scope.byRange = function (fieldName, minValue, maxValue) {
                return function predicateFunc(item) {
                return minValue <= item[fieldName] && item[fieldName] <= maxValue;
                };
            };
           
        });           

        //Show Size
        exaxxiApp.controller('ShowSize', function ($scope, $http) {
            $http.get("/api/ds_SizeAPI/Takeds_SizeDepart/"+@ViewBag.Id_Depart)
                .then(function (response) { $scope.name = response.data; });
        });                             
    </script>
}