@model Exaxxi.Models.Brands

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Brands</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>
        <dd>
            <img src="~/images/brand/@Html.DisplayFor(model => model.img)" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.order)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.department.vi_name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
